/* Reset CSS básico para limpar estilos padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #f0f0f0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #008080;
  color: #fff;
  padding: 20px;
}

header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
}

section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

section p {
  margin-bottom: 10px;
}

section ul {
  list-style: disc;
  margin-left: 20px;
}

footer {
  background-color: #008080;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Estilos específicos */
#contato form label {
  display: red;
  margin-bottom: 5px;
}

#contato form input,
#contato form textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

#contato form button {
  background-color: #008080;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#contato form button:hover {
  background-color: #008080;
}
